docopt

# shopping for SOAP client library

# http://stackoverflow.com/questions/206154/what-soap-client-libraries-exist-for-python-and-where-is-the-documentation-for # noqa
# https://fedorahosted.org/suds/wiki/Documentation
# suds
# suds.TypeNotFound: Type not found: '(schema, http://www.w3.org/2001/XMLSchema, )'
# http://stackoverflow.com/questions/4719854/soap-suds-and-the-dreaded-schema-type-not-found-error  # noqa

# osa 0.1.6-p3 b931f1dd37e0
# -e hg+https://bitbucket.org/sboz/osa#egg=osa
# ValueError:  Class {http://www.w3.org/2001/XMLSchema}schema not found in anywhere

PySimpleSOAP==1.10
# TypeError: Tag: schema invalid (type not found)
# "There are some regressions in v1.14 (development trunk branch). 
# Please use the more stable v1.10 instead by now."
# -- https://code.google.com/p/pysimplesoap/issues/detail?id=150
