[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
nose = "*"
snakefood = "*"
rpmvenv = "*"
tox = "*"

[packages]
# need python2 support
injector = "==0.12.0"
pyramid = "*"
# from conda
python-ldap = "==3.2.0"
docopt = "*"
Genshi = "*"
Paste = "*"
PasteDeploy = "==2.0.1"
PasteScript = "==1.7.5"
SQLAlchemy = ">=1.3.0"
# from conda
cx-Oracle = "==7.2.3"
pyramid_mailer = "*"
PySimpleSOAP = "*"
PyMySQL = "*"
typing = "*"
waitress = "*"

[requires]
python_version = "2.7"
