###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###


[composite:main]
use = egg:Paste#urlmap
/ = heron_admin
/av = av


[app:heron_admin]
use = egg:heron_wsgi
webapp_ini=%(here)s/production.ini
admin_ini=%(here)s/production.ini

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en

retry.attempts = 3

# cf http://docs.pylonsproject.org/projects/pyramid_mailer/dev/#configuration
mail.host = smtp.kumc.edu
mail.port = 25
mail.default_sender = heron-admin@kumc.edu
# mail.debug = True


[app:av]
use = egg:Paste#static
document_root = heron_wsgi/templates/av/


###
# heron_wsgi config
###

[cas]
base=https://cas.kumc.edu/cas/
app_secret={{get_cfg(cas_app_nonce)}}
service={{get_cfg(cas_service)}}

[i2b2]
cas_login={{get_cfg(i2b2_webclient)}}


###
# heron_wsgi/admin_lib config
###

[enterprise_directory]
url= ldaps://auth.kumc.edu:636
userDn= cn=biostats,ou=authaccounts,o=idvault
password={{get_cfg(ldap_biostats_pass)}}
base= ou=people,o=idvault
certfile=/etc/ssl/certs/auth.kumc.edu.pem

studylookupaddr={{get_cfg(ecompliance_lookup)}}

# For audit trail of executives, see
#  http://bmi-work.kumc.edu/work/ticket/321#comment:13
#  and others such as
#  https://bmi-work.kumc.edu/work/ticket/4676
executives={{get_cfg(executives)}}


[training]
username = hsr_train_check
database = hsr_cache
password ={{get_cfg(train_check_pass)}}
hostport={{get_cfg(redcap_db_hostport)}}
url = mysql+pymysql://%(username)s:%(password)s@%(hostport)s/%(database)s?charset=utf8


[redcapdb]
username=drocredcap
database=redcap
password={{get_cfg(drocredcap_pass)}}
hostport={{get_cfg(redcap_db_hostport)}}

# Note well the charset=utf8!
# cf. #3741 etc.
engine=mysql+pymysql://%(username)s:%(password)s@%(hostport)s/%(database)s?charset=utf8

[survey_invite]
database=redcap
username=survey_invite
password={{get_cfg(survey_invite_pass)}}
hostport={{get_cfg(redcap_db_hostport)}}
engine=mysql+pymysql://%(username)s:%(password)s@%(hostport)s/%(database)s?charset=utf8

[saa_survey]
api_url=https://redcap.kumc.edu/api/
survey_url=https://redcap.kumc.edu/surveys/?s=npRuTQ
domain=kumc.edu
survey_id=93

[dua_survey]
domain=kumc.edu

api_url=https://redcap.kumc.edu/api/
survey_url=https://redcap.kumc.edu/surveys/?s=yYhHFCWa3X
survey_id=2678

[oversight_survey]
api_url=https://redcap.kumc.edu/api/
survey_url={{get_cfg(redcap_oversight_survey_url)}}
domain=kumc.edu
survey_id={{get_cfg(redcap_oversight_survey_id)}}
project_id={{get_cfg(redcap_oversight_survey_project_id)}}
trigger_log=/tmp/oversight_log_dir/
trigger_url=http://db-proxy-sable/dummy
level=WARN

[i2b2pm]
identified_data={{get_cfg(id)}}
i2b2pm_schema={{get_cfg(i2b2pm_schema)}}
i2b2crc_schema={{get_cfg(i2b2crc_schema)}}
i2b2pm_url={{get_cfg(i2b2_url)}}

[i2b2md]
i2b2meta_schema={{get_cfg(i2b2meta_schema)}}
i2b2meta_url={{get_cfg(i2b2_url)}}

[disclaimers]
project_id=398

[disclaimer_acknowledgements]
token={{get_cfg(disclaimer_acks_token)}}
project_id=399
api_url=https://redcap.kumc.edu/api/


###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
# listen = *:6543
listen = %(http_listen)s
url_prefix=/heron/


###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, heron_wsgi, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_heron_wsgi]
# ISSUE: process to increase / decrease logging level on demand
# level = WARN
level = INFO
# level = DEBUG
handlers =
qualname = heron_wsgi

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s

# End logging configuration
