<!DOCTYPE html>
<html>
<head>
<title>HERON Checklist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	<a href="http://www.antlr.org/wiki/display/ST/Five+minute+Introduction">5
		min intro to ST</a>

	<h1>Welcome to HERON</h1>
	<p>HERON is the i2b2 installation at KUMC...@@</p>

	<p>Welcome, $affiliate.fullName$, $affiliate.title$.</p>

		<h2>HERON access</h2>

	<form method="post" action="@@todo">
		$if(repositoryTool)$
		 <input type="submit" value="Start I2B2" />
		$else$
		 <input type="submit" value="Start I2B2" disabled="disabled" />
        $endif$		
	</form>

	<div>
	$if(affiliate.trainingExpired)$
	<p> <strong class="error">training expired!</strong> </p>
	$endif$

<p><label>Human Subjects <a href="@@todo">chalk
							training</a> complete?<input name="hsc_trained" type="checkbox"
						readonly="readonly"
						$if(!affiliate.trainingExpired)$ checked="checked" $endif$
						> </label>
				</p>

	<p>training expires: $trainingExpiration$</p>
	
	$if(executive)$
	<p> <strong>executive:</strong> $affiliate.title$</p>
	$endif$

	$if(faculty)$
	<p> <strong>faculty:</strong> $affiliate.title$</p>
	$endif$

	$if(sponsored)$
	<p> <strong>sponsored:</strong> $affiliate.title$</p>
	$endif$
	</div>



		<dd>
			<ol>
				<li><label>Human Subjects <a href="@@todo">chalk
							training</a> complete?<input name="hsc_trained" type="checkbox"
						readonly="readonly"> </label>
				</li>
				<li>either:
					<ul>
						<li><label>Qualified KUMC Faculty? (instructor level
								or above)? <input name="qualified_faculty" type="checkbox"
								readonly="readonly"> </label>
						</li>
						<li><label>Sponsored by qualified KUMC faculty? <input
								name="sponsored" type="checkbox" readonly="readonly"> </label>
						</li>
					</ul></li>
				<li><label>Signed <a href="@@todo">system access
							agrement</a>? <input name="signed_saa" type="checkbox"
						readonly="readonly"> </label>
				</li>
			</ol>
			$if(repositoryTool)$ <a href="$repositoryTool$">proceed to tool</a>
			$else$ denied for one of the above reasons$endif$
		</dd>
		<dt>HERON sponsoring</dt>
		<dd>
			<ol>
				<li><label>Qualified Faculty? (instructor level or
						above)? <input name="qualified_faculty" type="checkbox"
						readonly="readonly"> </label>
				</li>
				<li><label>Human Subjects <a href="@@todo">chalk
							training</a> complete?<input name="hsc_trained" type="checkbox"
						readonly="readonly"> </label>
				</li>
				<li><label>Signed <a href="@@todo">system access
							agrement</a>? <input name="signed_saa" type="checkbox"
						readonly="readonly"> </label>
				</li>
			</ol>
			$if(sponsorshipForm)$ <a href="sponsorshipForm">proceed to form</a>
			$else$ denied for one of the above reasons $endif$
		</dd>
	</dl>
</body>
</html>

