<!DOCTYPE html>
<html>
  <head>
    <title>HERON Checklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1>HERON Checklist</h1>
    <dl>
    <dt>full name, from LDAP</dt>
    <dd>$fullName$</dd>
    <dt>Title</dt>
    <dd><em>TODO</em></dd>
    <dt>HERON access</dt>
    <dd>$if(repositoryTool)$<a href="$repositoryTool$">proceed to tool</a>$else$denied$</dd>
    <dt>HERON sponsoring</dt>
    <dd>$if(sponsorshipForm)$<a href="sponsorshipForm">proceed to form</a>$else$denied$</dd>
    </dl>
  </body>
</html>

