.h5red {
	color: red;
	font-size: .65em;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
}

table.heron {
	border: 1px;
}

table.heron td {
	border: 1px solid black;
	color: black;
}

table.heron tr.d0 td {
	background-color: #FCF6CF;
}

table.heron tr.d1 td {
	background-color: #FEFEF2;
}