


/*                                      Generic Fonts & Styles                                           */
/*-------------------------------------------------------------------------------------------------------*/
	.kumc_crumbtrail{
		font-size:.75em !important;
	}

	a{
		color:#0049AE;
		text-decoration:none;
	}	
	a:visited{
		color: #0049AE;
	}
	.indent_half {
		margin-left: .5em;
	}
	.indent_one {
		margin-left: 1em;
	}
	.kumc_grey_u_link{
		color:#333333 !important;
		text-decoration:underline !important;
	}
	.kumc_blue_u_link{
		color:#0049AE !important;
		text-decoration:underline !important;
	}	
	h1{
		color: #444444;
		font-size: 1.55em;
		font-weight:400;
		padding: 0px 0px 0px 0px;
		margin:10px 0px 2px 0px;
	}

	h2{
		color: #444444;
		font-size: 1.4em;
		font-weight: bold;
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;		
	}
	h3{
		color: #444444;
		font-size: 1.2em;
		font-weight:400;
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;		
	}
	h4{
		color: #444444;
		font-size: 1.05em;
		font-weight: bold;
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
	}
	h5{
		color: red;
		font-size: .65em;
		font-weight: bold;
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
	}
	h6{
		color: #444444;
		font-size: 1.05em;
		font-weight: bold;
		padding:0px 0px 10px 0px;
		margin:-5px 0px 0px 0px;
	}
	
	hr{ 
		color:#cccccc;
		padding-bottom:2px;
		margin-top:6px;		
		border-top: 1px solid #cccccc;
		border-left:0px;
		border-right:0px;
		border-bottom:0px;		
	}		
	.kumc_greyline{
		padding-bottom:2px;
		padding-top: 2px;
		margin-top:5px;		
		border-top: 1px solid #cccccc;
		border-left:0px;
		border-right:0px;
		border-bottom:0px;
	}
	.kumc_hr_dotted{
		padding-bottom:12px;
		padding-top:0px;
		margin-top:15px;		
		border-top: 1px dotted #cccccc;
		border-left:0px;
		border-right:0px;
		border-bottom:0px;	
		clear:both;	
			
	}
	.kumc_hr_light{
		padding-bottom:12px;
		padding-top:0px;
		margin-top:5px;		
		border-top: 1px solid #e1e1e1;
		border-left:0px;
		border-right:0px;
		border-bottom:0px;		
			
	}	

	.kumc_hr, .kumc_hr_nav{
		padding-bottom:12px;
		padding-top:0px;
		margin-top:15px;		
		border-top: 1px solid #cccccc;
		border-left:0px;
		border-right:0px;
		border-bottom:0px;		
			
	}
	.kumc_hr_nav{
		margin-right: 12px			
	}

	.linkseparator{
		display:none;
		visibility:hidden;
		width:0px;
		height:0px;
	}
.superscript{font-size:x-small; vertical-align: super;} 
.subscript{font-size:x-small; vertical-align: sub;} 

/*************  Main Layout  **************************************************/
	body{
		font-family:Arial, Helvetica, sans-serif;
		font-size:100%;
		line-height:17px;	
		color:#333333;
		text-align:center;
		margin: 0;
		padding:0;
		background-color:#FFFFFF;	
		overflow: -moz-scrollbars-vertical !important;	
	}
	body table {
		font-size: 1.0em;
	}
	#kumc_container{
		margin: 0 auto;
		width: 760px;
		/* position:relative; */
		text-align:left;
		clear:both;
	}
			
	#kumc_container_fullwidth{
		margin: 0 0px;
		width: 100%;
		position:relative;
		text-align:left;
		clear:both;
		padding:0 10px;
	}
	#kumc_container_fullwidth_center{
		margin: 0 0px;
		width: 100%;
		position:relative;
		text-align:center;
		clear:both;
		padding:0 10px;
	}
.toc {
margin: 10px 0 20px 0;
}
a.toPage, 
a.to_page {
background: transparent url(arrow_down.gif) no-repeat 0 2px;
padding-left: 10px;
}
/*************Header************************************************************/	

	#kumc_accessibilty_skip{
		width:1px;
		height:1px;
		clear:both;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		position: absolute;
		left: 1px;
		top: 1px;
	}
	
	#kumc_intro {
	}
	/*************Level 1 (Top Most) **************************************************/						
	#kumc_header_links{
		color: #333333;
		width:454px;
		float:left;
		padding-top:47px;
		font-size:.7em;
		font-family:Arial, Helvetica, sans-serif;
	}
	#kumc_header_links a, #kumc_header_logo a{
		color:#333333 !important;
		text-decoration:none !important;
	}
	#kumc_header_links a.kumc_homelink{
		color:#0049AE !important;
		text-decoration:none !important;
	}
	#kumc_header_links a:visited.kumc_homelink{
		color:#0049AE !important;
		text-decoration:none;
	}		
	
	#kumc_header_links a:hover, #kumc_header_logo a:hover, #kumc_header_links a:hover.kumc_homelink{
		text-decoration:underline !important;
	}
	 #kumc_header_logo{ 
		color: #333333;	 
		width: 250px;
		float:right;
		text-align:right;
		vertical-align:bottom;
		padding-top:9px;
	}		
	#kumc_topmostheader{
		height:53px;	
		width: 760px;	
		position: absolute;
		top:0px;
		}	
	#kumc_topmostheader_app{
		height:53px;	
		width: 760px;	
		margin-left: auto;
		margin-right: auto;
		}		
	.kumc_header_image{
		margin-bottom:15px;
		margin-top:15px;
	} 
	#kumc_topbar{
		height:8px;		
		padding:32px !important; padding: 30px;
		margin-bottom:0px;
		margin-top:0px;
		background-image: url(masthead_3color_bar.gif);
		background-repeat:no-repeat;
		background-position:bottom;
	}
/****************General Nav**********************************************/
	#kumc_generalnav{
		width:100%;
		height:25px;
		border-bottom:1px solid #cccccc;
	}
	#kumc_mainlinks{
		width: 60%;
		text-align:left;
		padding-top:4px;
		word-spacing: 1px;
		font-family: Arial, Helvetica, sans-serif;
		float: left;
	}
	#kumc_mainlinks a{
		text-align:center;
		font-size:.75em;
		color:#333333;
		text-decoration:none;
		}		
	#kumc_mainlinks a:hover{
		text-decoration:underline;
	}	

/****************A to Z**********************************************/	
	#kumc_atoz{
		width:100%;
		height:25px;
		clear:both;
		font-family: Arial, Helvetica, sans-serif;		

	}
	#kumc_atoz_links{
		width: 50%;
		text-align:left;
		padding-top:4px;
		padding-left:0px;
		 font-family: Arial, Helvetica, sans-serif;
		 font-size:.75em;
		 color: #333333;
		 		float:left;
	}	
	#kumc_atoz_links a{
		color: #333333;
		text-decoration:none;
	}
	#kumc_atoz_links a:hover{
		color: #333333;
		text-decoration:underline;
	}
	/* FOR 2008 REDESIGN */
	#kumc_browse_links{
		width: 100%;
		text-align:left;
		padding-top:4px;
		padding-left:0px;
		 font-family: Arial, Helvetica, sans-serif;
		 font-size:.75em;
		 color: #333333;
		 float:left;
	}	
	#kumc_browse_links a{
		color: #333333;
		text-decoration:none;
	}
	#kumc_browse_links a:hover{
		color: #333333;
		text-decoration:underline;
	}	
	/*************Title Bar **************************************************/								
	#kumc_titlebar{
		width:760px;
		height:28px;
		clear:both;
		font-family: Arial, Helvetica, sans-serif;		
		border-bottom:1px solid #cccccc;
		margin-left: auto;
		margin-right: auto;
	}
	#kumc_kuaffiliation{
		width: 60%;
		height:28px;
		text-align:left;
		padding-top:4px;
		padding-left:0px;
		 font-family: Arial, Helvetica, sans-serif;
		 font-size:1.15em;
		 color: #333333;
		 float:left;
		 clear:both;
	}	
	#kumc_searchbar{
		width:40%;
		float:left;
	}
	#kumc_searchform{
		padding-top:4px;

	}
	#kumc_searchform form{
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}
	#kumc_searchform select {
		font-family: Arial, Helvetica, sans-serif;
		font-size:.6em;
		vertical-align:bottom;
		color:#333333;		
	}
	.kumc_searchtext{
		vertical-align:bottom;
		color:#333333;		
	}
	.kumc_searchbutton{
		vertical-align:bottom;
		color:#333333;	
		
	}
	#kumc_searchform input {
		vertical-align:bottom;
		font-family: Arial, Helvetica, sans-serif;
		font-size:.6em;
		color:#333333;		
	}
	
/* myKUMC login form */
	#kumc_mykumcsearchform{
		padding-top:4px;

	}
	#kumc_mykumcsearchform form{
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}
	#kumc_mykumcsearchform select {
		font-family: Arial, Helvetica, sans-serif;
		font-size:.8em;
		vertical-align:bottom;
		color:#333333;		
	}
	.kumc_mykumcsearchtext{
		vertical-align:bottom;
		color:#333333;		
	}
	.kumc_mykumcsearchbutton{
		vertical-align:bottom;
		color:#333333;	
		
	}
	#kumc_mykumcsearchform input {
		vertical-align:bottom;
		font-family: Arial, Helvetica, sans-serif;
		font-size:9px;
		color:#333333;		
	}
	
/*************Main Frame ***********************************************************************/				
	
	#kumc_frame {
		}	
	#kumc_container_nav{
		z-index:4;
		overflow:visible;		

	}
	#kumc_container_nonav{
		z-index:4;
		overflow:visible;		
		clear:left;

	}
	/*************Left************************************************************/				
	#kumc_contentleft {
		position:relative;
		width:151px;
		float:left;
		clear:left;
		padding:0px;
		margin-top:0px;
		padding-top:13px;		
		/* line-height:20px; */
		line-height:100%;	
		font-size:.7em;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
	}
	#kumc_contentleft_row{
		border-top:1px solid #cccccc;
		width: 145px;
		padding-top: 8px;
		padding-bottom: 8px;
		clear:both;
	}
	#kumc_contentleft #kumc_leftlinks {
		padding-top:8px;
		width:139px;	
		color:#333333;
	}
	#kumc_contentleft #kumc_leftlinks a {
		color:#0049AE;
		text-decoration:none;
	}	
	#kumc_contentleft #kumc_leftlinks a.kumc_selectedlink, #kumc_contentleft a.kumc_currentlink {
		color:#0049AE;
		text-decoration:none;
	}		
	a.kumc_selectedlink, a.kumc_currentlink{
		font-weight:bold;
	}
	#kumc_contentleft #kumc_leftlinks a:hover {
		text-decoration:underline;
	}
	
	#kumc_contentleft #pde_leftlinks {
		padding-top:8px;
		width:139px;
	}
	#pde_leftlinks a:hover {
		text-decoration:none;
		color: #333;
	}	
	#kumc_currentpage {
		z-index:0;
		font-family:Arial, Helvetica, sans-serif;
		font-size:1.05em;
		color:#333333;
		border-bottom:1px solid #cccccc;
		padding-bottom:7px;
		width:139px;	
	}		
	#kumc_currentpage a{
		color:#0049AE;
	}	
	/*************Second level left ************************************************/
	.kumcsl_contentleft {
	
		background-image:url(masthead_redbar.gif);
		background-position:top left;
		background-repeat:no-repeat;		
	}
	/*************Center************************************************************/						
	#kumc_contentcenter_fullwidth {
		position:relative;
		width:80%;
		text-align:left;
		padding:0px;
		padding-top:2px;
 		vertical-align:top;
		float:left;
		overflow:visible;
		visibility:visible !important;
		
	}

	#kumc_contentcenter_nonav {
		position:relative;
		width:760px;
		text-align:left;
		padding:0px;
		padding-top:2px;
 		vertical-align:top;
		float:left;
		overflow:visible;
		visibility:visible !important;
		
	}			
	#kumc_contentcenter {
		position:relative;
		width:608px;
		text-align:left;
		padding:0px;
		padding-top:14px;
 		vertical-align:top;
		float:left;
		overflow:visible;
		visibility:visible !important;
		
	}
	#kumc_contentcenter_narrow {
		position:relative;
		width:400px;
		text-align:left;
		margin:14px 14px 14px 14px;
 		vertical-align:top;
		float:left;
		overflow:visible;
		visibility:visible !important;
		color: #333333;
		font-family:Arial, Helvetica, sans-serif;
		font-size:.75em;
		
	}
	html>body #kumc_contentcenter, html>body #kumc_contentcenter_nonav {
   		float:left;
	}
	#kumc_contentcenter #kumc_maincontent, #kumc_contentcenter_nonav #kumc_maincontent{
			overflow:visible;		
		color: #333333;
		font-family:Arial, Helvetica, sans-serif;
		font-size:.75em;
	}
	#kumc_contentcenter #kumc_maincontent a, #kumc_contentcenter_nonav #kumc_maincontent a{
		color: #0049AE;
		text-decoration:none;
	}	
	#kumc_contentcenter #kumc_maincontent a:hover, #kumc_contentcenter_nonav #kumc_maincontent a:hover{
		text-decoration:underline;
	}		

/*************Footer   ***********************************************************************/				
	#kumc_contentbottom{
		height:15px;
		width: 100%;
		border-bottom:1px solid #cccccc;
		vertical-align:top;
	}
	#kumc_footercontainer{
		margin: 5px 0px 0px 0px;
		width: 100%;	
		position:static;
		text-align:center;

	}	
	#kumc_footer{
		text-align:center;
		margin:0 auto;
		width: 760px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:.6em;
		color:#333333 !important;
		height:118px;
	}
	#kumc_footerframe{
		margin-top:10px;
		text-align:left;
		
	}
	#kumc_footerframe img{
		display: none;
		visibility:hidden;
	}

	#kumc_footerframe img.kumc_jayhawk{
		display:block !important;
		visibility:visible !important;
	}
	#kumc_contactinfo{
		float:left;
		width:150px;
		padding:0px;		
	}
	#kumc_copyright{
		float:left;
		width:610px;
		line-height: 1.3em;
	}
	#kumc_contactinfo address{
		text-decoration:none;
		font-style:normal;
		line-height:1.3em;
	}
	
/*                                     Center Content Options                                            */
/*-------------------------------------------------------------------------------------------------------*/	
	
/*************Content   ***********************************************************************/		
	.kumc_full_rule{
		color: #cccccc;
		padding-bottom:2px;
		margin-top:6px;		
		height:1px;
		border-top: 1px solid #cccccc;
		border-left:0px;
		border-right:0px;
		border-bottom:0px;		
	}		
		
	.kumc_2col_left{
		float:left;
		clear:left;
		padding-left:0px;
		padding-right:0px;
		margin-right:0px;
		padding-top:4px;
		text-align:left;
		width:200px;
	}
	.kumc_2col_left_hr { /* this style is used by lkern, hr training in chalk */		
		float:left;
		clear:left;
		padding-left:0px;
		padding-right:0px;
		margin: 64px 0px 6px 12px;
		padding-top:4px;
		text-align:left;
		width:200px;
	}
	.kumc_2col_right{
		float:left;
		clear:right;
		width:215px;
		padding-left:20px;
		padding-right:0px;
		margin-right:0px;
		padding-top:4px;
		text-align:left;		
	}		
	
	.kumc_2bigcol_left{
		float:left;
		clear:left;
		padding-left:0px;
		padding-right:0px;
		margin-right:0px;
		padding-top:4px;
		text-align:left;
		width:280px;
	}
	.kumc_2bigcol_right{
		float:left;
		clear:right;
		width:295px;
		padding-left:20px;
		padding-right:0px;
		margin-right:0px;
		padding-top:4px;
		text-align:left;		
	}		
	.kumc_2fullcol_left{
		float:left;
		clear:left;
		padding-left:0px;
		padding-right:0px;
		margin-right:0px;
		padding-top:4px;
		text-align:left;
		width:370px;
	}
	.kumc_2fullcol_right{
		float:left;
		clear:right;
		width:370px;
		padding-left:20px;
		padding-right:0px;
		margin-right:0px;
		padding-top:4px;
		text-align:left;		
	}		

	#kumc_news_text{
		padding:0px 15px 0px 0px;
	}
	
	#kumc_news_text p{
		padding:0px 0px 0px 0px;
	}
	
	.kumc_leftcommentcolumn{
		padding-right:15px;
		float:left;
		width:90px;		
	}	
	
	/*************Small Right Column*****************************************************************/					
	#kumc_right_column{
		float:right;
		clear:both;
		width: 150px;
		padding-left:15px;
		padding-right:0px;
		margin-right:0px;
		padding-top:4px;
	}
	.kumc_right_content{
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
		clear:both;
	}
	
	.kumc_right_image{
		margin-bottom:10px;
		/* border: 1px #333333 solid; */
	} 

	#kumc_right_column h4{
		padding-bottom:3px;
	}
	#kumc_right_column div.kumc_spaced_links{
		line-height:34px;
	}
	.kumc_spaced_links{
		padding:0px 0px 0px 0px;
		margin:-8px 0px 0px 0px;
		clear:both;
	}	
	div.kumc_spaced_links a.kumc_wrapped_links{
		line-height:14px;
	}		
	/*************Divided middle**************************************************************/					
	
	#kumc_middle_rows{
		width:443px;
		float:left;
	}
	
	#kumc_feature_text{
		margin:0px 0px 15px 0px;
		background-color:#dddddd;
	}
	#kumc_lightgrey {
		padding:6px 6px 6px 6px;
		background-color:#f5f5f5;	
	}
	
	#kumc_feature_text p{
		padding:0px 10px 10px 10px;		
	}
	
	.kumc_middle_text{
		padding-bottom:14px;			
		clear:none;		
	}

	.kumc_mr_row{
		border-top:1px solid #cccccc;
		width: 443px;
		padding-top:16px;
		clear:both;
	}
	.kumc_mr_row_narrow{
		border-top:1px dotted #cccccc;
		width: 356px;
		padding-top:16px;
		margin:16px 0px 16px 0px;
		float:right;
	}
	.kumc_mr_onecolumn{
		border-top:1px solid #cccccc;
		width: 443px;
		padding-top:16px;
		padding-bottom:16px;
		clear:both;
	}	
	.kumc_mr_wideleftcolumn, .kumc_mr_narrowrightcolumn, .kumc_mr_narrowleftcolumn, .kumc_mr_widerightcolumn{
		padding-bottom:12px;
		float:left;
	}
	.kumc_mr_wideleftcolumn_ns, .kumc_mr_narrowrightcolumn_ns, .kumc_mr_narrowleftcolumn_ns, .kumc_mr_widerightcolumn_ns{
		padding-bottom:0px;
		float:left;
	} 	
	.kumc_mr_wideleftcolumn img, .kumc_mr_narrowrightcolumn img, .kumc_mr_narrowleftcolumn img, .kumc_mr_widerightcolumn img{
		padding-bottom:4px;
	}
	.kumc_mr_wideleftcolumn{
			clear:left;
			width:277px;
	}
	.kumc_mr_narrowrightcolumn{
		padding-left:15px;
		clear:right;
		width:151px;
	}
	.mr_widerightcolumn_ns img{
		padding-bottom:0px;
	}
	.kumc_mr_verywiderightcolumn{
		float:right;
		width:355px;
	}
	.kumc_mr_verynarrowleftcolumn{
		padding-right:15px;
		float:left;
		width:73px;
	}		
	.kumc_mr_narrowleftcolumn{
			clear:left;
			width:110px;
			float:left;
	}
	
	.kumc_mr_widerightcolumn{
		padding-left:15px;
		clear:right;
		width:318px;	
		float:left;				
	}	
	.kumc_mr_rightresponsecolumn{
		float:right;
		width:251px;			
	}	
	
	.kumc_mr_halfleftcolumn{
		float:left;
		width:214px;	
		padding-bottom: 12px;
	}	
	.kumc_mr_halfrightcolumn{
		padding-left:15px;
		float:right;
		width:214px;			
	}	
	.kumc_mr_row h4{
		margin-top:-3px;
	}
	h4.kumc_wrapped{
		line-height:15px;
		margin-top:-2px;
	}
	div.kumc_rowtext{
		margin-top:-4px;
	}
/*************No right colum*****************************************************************/				
	#kumc_middle_rows_fullwidth{
		width:100%;
		float:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:.75em;
	}

	#kumc_middle_rows_full{
		width:609px;
		float:left;
	}
	.kumc_mr_row_full{
		width: 609px;
		padding-top:16px;
		clear:both;
	}
	
	.kumc_halfleftcolumn{
		padding-top:15px;
		float:left;
		width:297px;		
	}	
	.kumc_halfrightcolumn{
		padding-top:15px;
		padding-left:15px;
		float:right;
		width:297px;			
	}
	.kumc_mr_third_left{
		float:left;
		width:193px;			
	}
	.kumc_mr_third_middle{
		float:left;
		padding-left:15px;
		width:193px;			
	}
	.kumc_mr_third_right{
		padding-left:15px;
		width:192px;
		float:right;			
	}
	#kumc_feature_text_current{
		width:609px;
		height:220px;
	}
	
	#kumc_feature_text_current p{
		padding:75px 207px 64px 207px;
	}
	.kumc_qtvr_image{
		float:left;
		width:320px;		
	}	
	.kumc_qtvr_image_text{
		padding-left:15px;
		float:right;
		width:274px;			
	}
/* -- font sizes for Article Manager --*/
	.arttext {
		font-size:.75em;
	}
	.artcat {
		font-size:.75em;
	}
	.artoptions {
		font-size:9px;
	}
	.artcaption {
		font-size:.9em;
	}
	.kumc_searchform searchoption {
		font-size:7px;
		color: #333333;
	}
	
/* -- font sizes for online phone directory --*/
	.results {
		font-size:1em;
	}
/* --fonts for the table layout --*/
 .topleftlinks {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: .6em;
	vertical-align: bottom;
	text-align: left;
 }
  .footerlinks {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: .6em;
	vertical-align: top;
	text-align: left;
 }
   .contactlinks {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: .6em;
	vertical-align: top;
	text-align: left;
	width: 151px;
 }
 td {
 	text-align: left;
 }
/* -- kumc colors --*/ 
	.ku_red {
	color: #E31736;
	}
	
	.ku_blue {
	color: #0049AE;
	}
	
	.ku_yellow {
	color: #FFD300;
	}
	
/*** styles for tables that hold forms, e.g. son admissions app added by kcc, 11/29/2007 **/
table.form {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #d8d7d7;
	border-collapse: collapse;
	background-color: white;
}
table.form th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #d8d7d7;
	background-color: white;
	-moz-border-radius: 0px;
}
table.form td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #d8d7d7;
	background-color: white;
	vertical-align: top;
	-moz-border-radius: 0px;
}
.kucc_portrait {
	border: #ccc 1px solid;
	margin-left: 6px;
}


/*                                       Printing Styles			                                          */
/*-------------------------------------------------------------------------------------------------------*/

@media print {
	body{
		margin:0px 0px;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:16px;
		color:#000000 !important;		
	}
	
	h1, h2, h3, h4, h5, h6, kumc_grey_u_link, h6.kumc_nr_month a {
		color:#000000 !important;
	}
	#kumc_alert_text_grey, #kumc_footer, 	#kumc_contentleft #kumc_leftlinks {
		color:#000000 !important;
	}
	#kumc_contentcenter #kumc_maincontent, #kumc_contentcenter_nonav #kumc_maincontent {
		color:#000000 !important;
	} 
	#kumc_currentpage, 	#kumc_atoz_links, #kumc_mainlinks a, #kumc_header_logo, #kumc_header_links a {
		color:#000000 !important;
	} 
	#kumc_header_logo a, body table, 	#kumc_searchform input, .kumc_searchtext, #kumc_searchform select {
		color:#000000 !important;
	}
	#kumc_kuaffiliation, #kumc_atoz_links a:hover, #kumc_atoz_links a {
		color:#000000 !important;
	}


	#kumc_header_links, #kumc_generalnav, #kumc_atoz, #kumc_contentleft, #kumc_contentbottom{
		display:none; visibility:hidden;
	}
	#kumc_header_logo{
		clear:both;
	}
	#kumc_topmostheader,  #kumc_contentcenter_nonav, #kumc_contentcenter{
		width: 95%;	
		clear:both;
	}
	#kumc_topbar{
		clear:both;
		height:8px;		
		width:95%;
		background-image:none;
		border-bottom:1px solid #cccccc;
	}	
	#kumc_intro{
		display:none !important;; visibility:hidden !important;;
	}		

/*******************/

	#kumc_footercontainer{
		visibility: hidden;
		display:none;
	}	
	#kumc_footerframe img.kumc_jayhawk{
		display:none !important;
		visibility:hidden !important;;
	}
	/* hide the left navigation in hr chalk training modules for lkern*/
	.kumc_2col_left_hr{
		visibility: hidden;
		display:none;
	}
}
