# Copy to integration-test.ini and fill in the values.
# (Ask around for the various passwords etc.)
[enterprise_directory]
url= ldaps://...
certfile=LDAP_HOST_CERT.pem
userDn= ...
password= ...
base=...
executives=...
studylookupaddr=http://...

[chalk]
# leave this section here for transition.

[training]
database=hsr_cache
# account with read access to hsr_cache (and redcap...)
username=hsr_train_check
password= ...
# ssh tunnel
port=3306

url=mysql+pymysql://%(username)s:%(password)s@127.0.0.1:%(port)s/%(database)s?charset=utf8

[redcapdb]
user=....
password=....
# ssh tunnel, again
host=127.0.0.1
port=3307
database=redcap

[saa_survey]
domain=kumc.edu

# get an API token from redcap
token=...
api_url=https://redcap.kumc.edu/api/
survey_url=https://redcap.kumc.edu/surveys/?s=npRuTQ
survey_id=...

[dua_survey]
domain=kumc.edu

# get an API token from redcap
token=...
api_url=https://redcap.kumc.edu/api/
survey_url=https://redcap.kumc.edu/surveys/?s=...

[oversight_survey]
domain=kumc.edu

token=...
api_url=https://redcap.kumc.edu/api/
survey_url=https://redcap.kumc.edu/surveys/
survey_id=...
project_id=...

level=WARN
#executives=...
executives=

trigger_log=/tmp/oversight_log_dir/
trigger_url=http://127.0.0.1/dummy

[disclaimers]
project_id=...

[disclaimer_acknowledgements]
token=...
project_id=...
api_url=https://redcap.kumc.edu/api/

[i2b2pm]
jboss_deploy=/usr/local/jboss/deploy/

[i2b2md]
jboss_deploy=/usr/local/jboss/deploy/
