<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
  <title>HERON: Build List of People for use in Oversight Request</title>
</head>
<body>

<div>
  <p>
    <img src="av/220px-Heron_tricol_01.JPG" alt="" title="Heron" width="250" height="300" />
    HERON (Healthcare Enterprise Repository for Ontological Narration) is a search discovery tool that allows KUMC faculty members to search de-identified data 
    from various hospital and medical center sources including Epic/O2 (the hospital electronic medical record). By combining the various data sources, researchers 
    can look at the data in new ways not available when viewing data in one source at a time.
  </p>
</div>

</body>
</html>

