<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="kumc_layout.xml" />
<head>
  <title>HERON: Build List of People for use in Oversight Request</title>
</head>
<body>

<h1>HERON 
 <py:if test="
 what_for=='sponsorship'">Sponsorship:</py:if>
 <py:if test="what_for=='data_use'">Data Use:</py:if>
 Select Team</h1>

<py:def function="peopleTable(people, pfx)">
<table py:if="people">
  <tr>
    <th>&#160;</th>
    <th>Name</th><th>User ID</th><th>Title</th><th>Department</th>
  </tr>
  <tr py:for="who in people">
    <td><input type="checkbox" name="${pfx}_${who.cn}"
               id="${pfx}_${who.cn}" /></td>
    <td><label for="${pfx}_${who.cn}">${who.sn}, ${who.givenname}</label></td>
    <td><label for="${pfx}_${who.cn}">${who.cn}</label></td>
    <td>${who.title}</td><td>${who.ou}</td>
  </tr>
</table>
</py:def>

<py:def function="studyTeamTable(studyTeam)">
<div py:if="studyTeam">  
  <p><strong><cite>${studyTeam[0]["Full Study Title"]}</cite></strong>
  <br/>Study ID: ${studyTeam[0]["ID"]}
  <br/>Expriation: ${studyTeam[0]["Date Expiration"]}
  <br/>State: ${studyTeam[0]["State"]}</p>
  <table>
  <tr>
    <th>&#160;</th>
    <th>Name</th><th>Email</th><th>Phone</th>
  </tr>
  <tr py:for="who in studyTeam">
    <td>
      <input type="checkbox" py:if="who['Employee ID']"
             name="s_${who['Employee ID']}"
             id="s_${who['Employee ID']}"
             title="${who['Employee ID']}"
	     />
      <input py:if="not who['Employee ID']"
	     type="checkbox" disabled="disabled"/>
    </td>
    <td>${who['lastName']}, ${who['firstName']}</td>
    <td>${who['EmailPreferred']}</td>
    <td>${who['BusinesPhone']}</td>  <!-- sic -->
    <td>${who['accountDisabled']}</td>
  </tr>
  </table>
  </div>
</py:def>

<div id="main">

<p>Choose up to 10 people per request.</p>

<form py:if="team" method="get" action="">
${peopleTable(team, 'r')}
<p><input type="submit" name='goal' value="Remove" /></p>
<input type="hidden" name="uids" value="${uids}" />
</form>

<form py:if="team" method="get" action="${done_path}">
<input type="hidden" name="uids" value="${uids}" />
<p class="doit" style="text-align: center; margin-bottom: 2em">
  <input type="submit" name="continue" value="Done Choosing People" />
</p>
</form>

<form method="get" action="">
<p>Look up a team member by giving the first letters of their first name, last name, or KUMC id:
<p>
<label>First: <input name='givenname' size="8"/></label>
<label>Last: <input name='sn' size="15"/></label>
<label>ID: <input name='cn' size="10"/></label>
<input type="submit" name='goal' value="Search" />
</p>
<input type="hidden" name="uids" value="${uids}" />
</p>
</form>

<form method="get" action="">
<p>Look up IRB protocol study team members:</p>
<label>Study ID: <input name='studyId' size="20"/></label>
<input type="submit" name='goal' value="Lookup" />
</form>

<form py:if="candidates or studyTeam" method="get" action="">
  <hr />
${studyTeamTable(studyTeam)}
${peopleTable(candidates, 'a')}
<p><input type="submit" name='goal' value="Add" /></p>
<input type="hidden" name="uids" value="${uids}" />
</form>
</div>

</body>
</html>

