<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
      <xi:include href="heron_layout.xml" />
<head>
  <title>HERON: Status Disclaimer</title>
</head>
<body>

<div class="news-copy">
  <div class="header">
    <h1>HERON Status Disclaimer</h1>
  </div>

  <p>
    <em>See <cite><a href="${url}">${headline}</a></cite> for the original status update with working links.</em>
  </p>

  <form method='POST'>
    <p>Please review the status disclaimer below and acknowledge.</p>
    <p>
    <input class="button button-blue btn mt-6" type='submit' value='Acknowledge' />
    </p>

    <blockquote>
      ${Markup(content)}
    </blockquote>

    <p>
    <input class="button button-blue btn mt-6" type='submit' value='Acknowledge' />
    </p>
  </form>
</div>

</body>
</html>

