<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
<head><title>HERON access request
${'approved' if approved else 'rejected'}
</title>
</head>
<body>
<p>Dear ${sponsor_full_name},</p>

<p>The HERON Data Request Oversight Committee has
${'approved' if approved else 'rejected'}
 your request for project ( ${project_title}) for the following people:</p>

<ul>
  <li py:for='n in team'>${n}</li>
</ul>


<py:if test='approved'>
  <p>They may log in to <a href="${heron_home}">HERON</a>
  (<code>${heron_home}</code>).</p>
  
  <p>Visit the  <a href="frontiersresearch.org/frontiers/HERON-Introduction">HERON help page</a> or view <a href="http://frontiersresearch.org/frontiers/informatics-training-videos">HERON training videos</a> for more information on accessing and searching HERON.</p>

  <p><strong>Note:</strong> For access from outside the KUMC network,
  a <a href=
  "http://www.kumc.edu/information-resources/virtual-private-network.html"
  >KUMC VPN connection</a> is required.</p>

  <p>They will be required to sign a system access agreement if they
  have not already done so for another project.</p>

  <p>If you have any questions, feel free to email
  <a href="mailto:heron-admin@kumc.edu">heron-admin@kumc.edu</a>.</p>
</py:if>

<py:if test='not approved'>
  <p>If you have any questions or want to voice concerns,
  please email <a href="mailto:heron-admin@kumc.edu">heron-admin@kumc.edu</a>
  and we will
  escalate your concerns to KUMC, UKP and KUH
  leadership.</p>
</py:if>

<p>Sincerely,</p>

<address>The HERON Team.</address>
</body>
</html>
