<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="kumc_layout.xml" />
<head>
  <title>HERON Research Data Repository</title>
</head>
<!-- todo: consider passing admin_mailbox in from python -->
<body py:with="admin_mailbox='heron-admin@kumc.edu'">
  <div id="menu">
  <div class="header png"><h3>i2b2 Query and Analysis Tool</h3>
  <ul>
    <li py:if="'checked' in repositoryAccess">
      <a href="${i2b2_login_path}"
	 >Start Query Tool</a>
    </li>
    <li py:if="'checked' not in repositoryAccess">
      <button disabled="disabled"
	 >Start Query Tool</button>
    </li>
    <li>
      <a href="reports/usage">Who's Using HERON?</a>
    </li>
    <li>
      <a href="reports/performance">How busy is HERON?</a>
    </li>
  </ul>
  </div>

  <div class="header png"><h3>Training Materials</h3>
  <ul>
    <li><a href=
	"http://frontiersresearch.org/frontiers/HERON-Introduction"
	>HERON Help</a>
    </li>
	<li><a href="http://frontiersresearch.org/frontiers/informatics-training-videos">Training Videos</a>
	</li>
  </ul>
  </div>

  <div py:if="affiliate.is_investigator()" class="header png">
    <h3>Investigator Requests</h3>
  <ul>
    <li><a href="${sponsorship_path}">HERON
    Sponsorship Request</a>
    </li>
    <li><a href="${data_use_path}">HERON
    Data Usage Request</a>
    </li>
	<li><a href="https://redcap.kumc.edu/surveys/?s=wEkGLU&amp;principal_investigator=${affiliate.givenname}&amp;principal_investigator_las=${affiliate.sn}&amp;department=${affiliate.ou}&amp;email_address=${affiliate.mail}">Frontiers Participant Registry Request</a>
	</li>
  </ul>
  </div>

  <div py:if="droc" class="header png"><h3>Oversight</h3>
  <ul>
    <li><a href="https://redcap.kumc.edu/redcap_v4.7.0/index.php?pid=238">DROC Review Forms</a></li>
    <li><a href="reports/usage_small">Usage Audit Report</a></li>
  </ul>
  </div>
  </div>

  <div id="main">
  <div id="heron-tricol-01" class="photo">
  <!-- @@TODO: get the template to handle this style in the head -->
  <style type="text/css">
    .photo {text-align: center; margin-bottom: 1em }
    .doit {text-align: center }
  </style>
    <img src="av/220px-Heron_tricol_01.JPG" alt=""/>
  </div>

  <h1>HERON Research Data Repository</h1>

  <!-- TODO: why does this para turn blue? -->
  <p>HERON (Healthcare Enterprise Repository for Ontological Narration)
  allows you to explore de-identified data from Epic/O2 (the
  hospital electronic medical records), IDX (the clinical billing
  system), KU Hospital Cancer Registry, KU Biospecimen Repository, REDCap (selected projects), Social Security Death Index, and University HealthSystem Consortium (Quality Measure Data).
  </p>

  <p>The HERON i2b2 Query and Analysis Tool
  is the main tool for composing queries such as "how many patients
  in the repository have been diagnosed with diabetes and live within
  20 miles of the KUMC campus?"</p>

  <p>Access to de-identified data is non-human subjects research and
  does not require IRB approval. For qualified faculty who want
  <em>view-only</em> access to do patient count queries, executing
  a system access agreement is the only requirement.</p>

  <p>Visit the <a href=
	"http://frontiersresearch.org/frontiers/HERON-Introduction"
	>help page</a> or view <a href="http://frontiersresearch.org/frontiers/informatics-training-videos">training videos</a> for more information on accessing and searching HERON.
  </p>

  <p>A Data Request Oversight Committee (DROC) oversees requests to:</p>
  <ul>
    <li><a href="http://frontiersresearch.org/frontiers/heron-sponsorship">sponsor
    collaborators and research team members</a></li>

    <li><a href="http://frontiersresearch.org/frontiers/data-set-instructions">extract
    data sets</a></li>
  </ul>
  
  <div><h2>Citing HERON</h2>

  <p>Please note that any publication that results from a project utilizing HERON should cite grant support (<strong>CTSA Award # UL1TR000001</strong>) and <strong>HERON</strong>:</p>

  <p><em><a href="http://www.ncbi.nlm.nih.gov/pubmed/22195209">
    Expressing observations from electronic medical record flowsheets in an i2b2 based clinical data repository to support research and quality improvement.
  </a></em><br/>
  Waitman LR1, Warren JJ, Manos EL, Connolly DW.<br/>
  AMIA Annu Symp Proc. 2011;2011:1454-63. Epub 2011 Oct 22.<br/>
  </p>

  <p>Publications referencing <strong>HERON</strong> and the <strong>Greater Plains Collaborative</strong> (GPC) should also cite the GPC:</p>

  <p><em><a href="http://jamia.bmj.com/content/21/4/637.full">
    The Greater Plains Collaborative: a PCORnet Clinical Research Data Network</a></em><br/>
  Lemuel R Waitman, Lauren S Aaronson, Prakash M Nadkarni, Daniel W Connolly, James R Campbell<br/>
  J Am Med Inform Assoc 2014;21:637-641 doi:10.1136/amiajnl-2014-002756<br/>
  </p>

  </div>

  <div><h2>Support and Feedback</h2>

  <p>The Frontiers Lunch and Learn meets the 1st and 3rd Tuesdays of each month from 12:00 - 1:30 PM in room 3001D Student Center.  This training clinic provides assistance for investigators using informatics tools, such as HERON or REDCap, for data exploration, cohort discovery, and data collection. The clinic is a brainstorming session and an education forum for investigators and informatics to share knowledge, provide feedback, and optimize the use of systems.  <a href="https://redcap.kumc.edu/surveys/?s=L72oqA">Register</a> in advance if possible but drop-ins are welcome. <em>See the <a href="http://www.kumc.edu/events-calendar.html">KUMC Calendar</a> for the date of the next clinic.</em> 
  </p>

  <p>To set up consultation regarding your project, complete an
  <a href="https://redcap.kumc.edu/surveys/?s=qYxMmb"
     >Informatics Project Request</a> (check Other Medical Informatics Requests).
  </p>
  </div>
  
  <p>Feel free to send questions and concerns to <a
  href="mailto:${admin_mailbox}" >${admin_mailbox}</a>.</p>
  
  <p><small><a href="#heron-tricol-01">photo</a> credit:
  <a href="http://commons.wikimedia.org/wiki/User:Chrharshaw"
     >Christopher Harshaw</a></small>
  </p>
  </div>

  <div id="rightnav">
    <div class="span-7 last">

      <form action="${logout_path}" method="post">
	<p>${affiliate.givenname} ${affiliate.sn} (<code>${affiliate.cn}</code>)
	<input type="submit" value="logout" />
	</p>
      </form>

    <ol>
      <li>
	<label>
	  <input py:attrs="faculty" type="checkbox" disabled="disabled" />KUMC Faculty?
	</label>
	<div py:if="executive">
	  or <br />
	  <input py:attrs="executive" type="checkbox"
		 disabled="disabled" />executive?
	</div>
	<div py:if="not faculty and not executive">
	  no: ${affiliate.title}
	  <br />
	  <label>
	    <input py:attrs="sponsored" type="checkbox" disabled="disabled" />sponsored?
	  </label>
	</div>
      </li>

      <li>
	<label>
	  <input type="checkbox" disabled="disabled" py:attrs="trainingCurrent" />
	<a
	href="http://www2.kumc.edu/researchcompliance/human_subjects_tutorial_inst.htm"
	>Human subjects training</a> is complete and current?</label>
	  <a py:if="not trainingCurrent" href="#training-records">*</a>
      </li>

      <li>
	<label>
	  <input type="checkbox" disabled="disabled" py:attrs="signatureOnFile" />
	  Signed <a href="${saa_path if not signatureOnFile else saa_public}"
	  >system access agreement</a>?
	</label>
      </li>
    </ol>

    <div py:if="not trainingCurrent">
      <h3>Human Subjects Training</h3>
      <p py:if="trainingLast">
        Our records show <cite>${trainingLast.course}</cite>
        completed ${trainingLast.completed};
        <br />expired  ${trainingLast.expired}
      </p>
      <p>
      <em id="training-records">*If you believe the records of your training are out of date,
      please contact <a href="mailto:${admin_mailbox}?subject=HSC%20training%20records"
      >${admin_mailbox}</a>.</em>
      </p>
    </div>

  <div class="header png">
    <h3>Data Use Agreement</h3>
  </div>
  <div class="content png">
    <p>The <a href="${dua_path}">HERON Data Use Agreement</a> must be signed by all study team members before extract data can be released.</p>
  </div>

  <div class="header png">
    <h3>Problems? Questions? Ideas?</h3>
  </div>
  <div class="content png">
    <ul>
      <li>Let us know what you think: <a href="https://redcap.kumc.edu/surveys/?s=3SBkPg&amp;tool=1">Gripe/Praise</a></li>
	  <li>Send a question to the <a href="mailto:HERON-USERS@LISTSERV.KUMC.EDU">HERON User Group</a> or review the <a href="http://listserv.kumc.edu/cgi-bin/wa?A0=HERON-USERS">mailing list archive.</a></li>
    </ul>
  </div>

  </div>
      <div class="header png">
        <h2>Tools</h2>
      </div>
      <div class="content png">
        <ul class="links">
          <li><a href="https://redcap.kumc.edu/">REDCap</a></li>
        </ul>
        
      </div>
    </div>
  <div>
  </div>


</body>
</html>
