<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="kumc_layout.xml" />
<head>
<title>HERON Projects by: ${investigator.full_name()}</title>
</head>
<body>

<h1>Projects by: ${investigator.full_name()}</h1>

<div id="main">

<h2>Summary</h2>

  <ul>
    <li py:for="record, (inv, team, detail) in sponsor_of">
      <strong>#${record}</strong>:
      <a href='#project_${record}'
	 >${detail['project_title']}</a>
    </li>
  </ul>

<div class="detail">

<h2>Project Details</h2>

<div py:for="record, (inv, team, detail) in sponsor_of">
  <h3 id="project_${record}">
    Project #${record} ${detail['project_title']}</h3>

  <blockquote>${project_description(detail)}</blockquote>
  
  <p py:if="detail.get('date_of_expiration', None)">
    expires: <strong>${detail['date_of_expiration']}</strong>
  </p>

  <p>Sponsored in this project:</p>
  <ul>
    <li py:for="who in team">
      <!-- TODO: checkbox to remove -->
      <span py:for="line in who.name_etc.split('\n')">
	${line}<br /></span>
      <code>${who.cn}</code>
    </li>
  </ul>
</div>
</div>

</div>

</body>
</html>
