<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="heron_layout.xml" />
<head>
  <title>HERON Current Status</title>
</head>
<body>

  <div class="news-copy"></div>
    <div class="header">
      <h1>HERON Current Status</h1>
    </div>

    <div class="header">
      <h1 id="by_user">
        Current User Sessions and Queries
      </h1>
    </div>

    <table class="table text-wrap" py:with="cls=cycle(('odd', 'even'))">
      <thead>
        <tr>
          <th>User</th>
          <th>Logged In</th>
          <th>Query</th>
          <th>Result Type</th>
          <th>Created</th>
          <th>Batch</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- re py:for, see http://genshi.edgewall.org/wiki/Documentation/xml-templates.html#id3 -->
        <tr py:for="row in queries" class="${cls.next()}">
          <td>${row.full_name}</td>
          <td>${row.entry_date}</td>
          <td>${row.name}</td>
          <td>${row.result_type}</td>
          <td>${row.create_date}</td>
          <td>${row.batch_mode}</td>
          <td>${row.status}</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>
