<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="kumc_layout.xml" />
<head>
<title>HERON Usage
</title></head>
<body>

<h1>HERON Usage</h1>

<div id="main">
<p>Total queries: ${total_number_of_queries}</p>

<table><caption>Queries by user</caption>
<thead>
 <tr>
  <th>User</th>
  <th>Two Weeks</th>
  <th>Last Month</th>
  <th>Last Querter</th>
  <th>Last Year</th>
  <th>All Time</th>
 </tr>
</thead>
<tbody>
  <!-- re py:for, see http://genshi.edgewall.org/wiki/Documentation/xml-templates.html#id3 -->
  <tr py:for="row in query_volume">
    <td>${row.full_name}</td>
    <td>${row.two_weeks}</td>
    <td>${row.last_month}</td>
    <td>${row.last_quarter}</td>
    <td>${row.last_year}</td>
    <td>${row.all_time}</td>
  </tr>
</tbody>
</table>

</div>

</body>
</html>
