<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="kumc_layout.xml" />
<head>
<title>HERON Usage
</title></head>
<body>

<h1>HERON Usage</h1>

<div id="main">
<p>Total queries: ${total_number_of_queries}</p>

<table>
<thead>
 <tr>
  <th>User</th>
  <th>Queries</th>
 </tr>
</thead>
<tbody>
  <!-- re py:for, see http://genshi.edgewall.org/wiki/Documentation/xml-templates.html#id3 -->
  <tr py:for="row in query_volume">
    <td>${row.users}</td>
    <td>${row.number_of_queries}</td>
  </tr>
</tbody>
</table>
</div>

<address>
<a href="http://informatics.kumc.edu/">KUMC Biomedical Informatics</a>
</address>
</body>
</html>