<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="heron_layout.xml" />
<head>
  <title>HERON Usage</title>
</head>
<body>
  <div class="news-copy">
    <div class="header">
      <h1>HERON Usage</h1>
    </div>

    <ul>
      <li>Total queries: ${total_number_of_queries}</li>
      <li><a href="#by_user">Queries by User</a></li>
      <li><a href="#by_month">Queries by Month</a></li>
    </ul>

    <div class="header">
      <h5 id="by_user">Queries by User</h5>
    </div>
    
    <div class="table-responsive">
      <table class="table table-standard" style="width: 100%; margin-left: auto; margin-right: auto;" py:with="cls=cycle(('odd', 'even'))">
        <thead>
          <tr>
            <th>User</th>
            <th>Two Weeks</th>
            <th>Last Month</th>
            <th>Last Quarter</th>
            <th>Last 365 Days</th>
            <th>All Time</th>
          </tr>
        </thead>
        <tbody>
          <!-- re py:for, see http://genshi.edgewall.org/wiki/Documentation/xml-templates.html#id3 -->
          <tr py:for="row in query_volume" class="${cls.next()}">
            <td>${row.full_name}<br />
                <small>${roles[row.user_id]}</small>
            </td>
            <td>${row.two_weeks}</td>
            <td>${row.last_month}</td>
            <td>${row.last_quarter}</td>
            <td>${row.last_year}</td>
            <td>${row.all_time}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="header">
      <h5 id="by_month">Queries by Month</h5>
    </div>
    
    <div class="table-responsive">
      <table class="table table-standard" style="width: 100%; margin-left: auto; margin-right: auto;" py:with="cls=cycle(('odd', 'even'))">
        <thead>
          <tr>
            <th>Year-Month</th>
            <th>Queries</th>
            <th>Users</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="row in queries_by_month" class="${cls.next()}">
            <th>${'%04d-%02d' % (row.y, row.m)}</th>
            <td>${row.qty}</td>
            <td>${row.users}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
